# Python
__pycache__/
*.pyc
.pytest_cache/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform.lock.hcl

# IDE
.vscode/
.idea/

# OS
.DS_Store
